@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.ProseMirror {
  min-height: 250px;
  outline: none;
}

.ProseMirror p {
  margin: 10px 0;
}

.ProseMirror h1 {
  font-size: 2rem;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.ProseMirror ul {
  list-style: disc;
  margin-left: 25px;
}

.ProseMirror ol {
  list-style: decimal;
  margin-left: 25px;
}